@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.dog-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.breed-name{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
}

.slick-prev::before, .slick-next::before{
    color: #333;
}

.slider-item{
    position: relative;
    display: block;
    height: 450px;
}

.slider-image{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


