
/**
 *
 * Header styles
 *
 */

.title {
  text-align: center;
  color: #333;
  font-size: 36px;
}

.logo {
  width: 50px;
  margin-right: 150px;
}

.header{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}