
/**
 *
 * Header styles
 *
 */

.title {
  text-align: center;
  color: #333;
  font-size: 30px;
}

.logo {
  width: 50px;
}

.header{
  background-color: #dbe8ff;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}