/**
 *
 * DogArticle.css
 *
 */

 .dog-article{
    min-height: 100px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border: 1px solid #333;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: relative;
 }

 .dog-name{ 
    text-align: center;
    line-height: 32px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
   //  width: 100%;
    word-wrap: break-word;
 }

 .dog-article-image{
     margin-bottom: 20px;
 }
 
 .dog-article-link {
    position: absolute;
    bottom: 20px;
     line-height: 26px;
     padding: 0 15px;
     background-color: #666;
     color: #fff;
     text-decoration: none;
     border-radius: 5px;
     border: 1px solid #666;
     cursor: pointer;
     transition: 0.2s background-color;
     &:hover{
        background-color: #fff;
        color: #333;
     }
 }